.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px;
    text-underline-offset: 4px;
}

.header__logo-image {
    display: block;
    height: 105px;
    width: 136px;
}

.header-menu-list {
    display: flex;
    flex-direction: row;
    gap: 33px;    
    list-style: circle;
}

.header__list-item {
    line-height: 100%;
}

.menu__link {
    font-weight: 400;
    font-size: 18px;  
    font-family: Raleway, sans-serif;
}

.header__link_active {
    text-decoration: none;
}

.header__list-item:first-child {
    list-style: none;
}

.header__address {
    justify-self: end;
    max-width: 240px;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font: 400 18px/135% Raleway, sans-serif;
}

.cover {
    height: 757px;
    background-image: url('../images/cover.jpg');
    background-color: rgb(214, 199, 245);
    background-size: cover;
    background-position: center;
    position: relative;      
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
    font: 700 100px/114.9% Raleway, sans-serif;
    color: #fff;
    letter-spacing: 30px;
    text-transform: uppercase;
    padding-top: 165px;
    padding-left: 50px;
    row-gap: 21px;
    display: grid;  
}

.aligned-text__left {
    z-index: 1;
}

.aligned-text__center {
    justify-self: center;
    padding-right: 20px;
    z-index: 1;  
}

.aligned-text__right {
    justify-self: end;
    padding-right: 20px;
    z-index: 1; 
}

.cover__description {
    min-height: 207px;
    padding: 0px 50px 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: end;   
}

.cover__description-text { 
    font: 400 22px/28px Raleway, sans-serif;
    word-spacing: 18.42px;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 11px;
    z-index: 1;
}

.bet__button {
    width: 256px;
    min-height: 51px;
    appearance: none;
    background-color: transparent;
    color: #fff;
    font: 500 22px Raleway, sans-serif;
    text-transform: uppercase;
    border: #fff 1px solid;
    z-index: 1;
}

.lots {
    margin: 182px 24px 125px 24px;

}

.lots__heading {
    font: 700 40px/100% Raleway, sans-serif;
    text-transform: uppercase;
    padding-left: 40px;
    padding-bottom: 31px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.lots__card-list {
    list-style: none;
    display: flex;
    gap: 25px;
    padding-bottom: 32px;
}

.card-link {
    text-decoration: none;
}

.card {
    padding: 48px 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(214, 199, 245);
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.card__title {
    font: 700 22px/120% Raleway, sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    z-index: 1;
}

.card__text {
    font: 400 20px/120% Raleway, sans-serif;
    color: #fff;
    text-decoration: none;
    z-index: 1;
}

.lots__look-more-link {
    font: 400 20px/100% Raleway, sans-serif;
    color: #000;
    margin-left: 40px;
    text-underline-offset: 5px;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    margin-top: 120px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 180px;
    padding-top: 32px;
}

.about__logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.about__column {
    padding-left: 25px;
}

.about__logo-image {
    background-image: url('../images/logo-white.svg');
    width: 148px;
    height: 114px;
}

.about__title {
    font: 700 40px/100% Raleway, sans-serif;
    text-transform: uppercase;
    padding-top: 104px;
}

.about__text {
    font: 400 20px/120% Raleway, sans-serif;
    margin-top: 102px;
    display: grid;
    gap: 24px;
}

.footer {
    padding: 0px 50px 82px;
    text-underline-offset: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer__menu-list {
    text-align: center;
    list-style-type: none;
}

.header__list-item {
    line-height: 120%;
}  /* значение для попадания в макет*/

.footer__link_active {
    text-decoration: none;
}

.footer__social-list {
    list-style-type: none;
    display: flex;
    gap: 48px;
    justify-content: end;
}

.footer__social-icon {
    width: 48px;
}

